<div class="row w-100 service-hub-row">
  <div class="name">
    <%= literature.title %>
  </div>
  <div class="type">
    <%= literature.type %>
  </div>
  <div class="region">
    <%= literature.region %>
  </div>
  <div class="link">
    <%= link_to("Open PDF", literature.url, target: "_blank") %>
  </div>
  <div class="attach">
    <%= link_to email_message_path(email_message: { literature_asset_url: literature.url }), method: :put, remote: true, id: "literature-link-#{literature.url.gsub(/[^a-zA-Z0-9]/, "")}" do %>
      <%= render 'shared/envelopes_for_row', locals: { envelope_closed: !current_email_message.literature_asset_urls.include?(literature.url) } %>
    <% end %>
  </div>
</div>
