<div class="row w-100 service-hub-row" data-controller="details">
  <div class="d-flex flex-nowrap w-100 primary-info">
    <div class="sku">
      <%= service.sku %>
    </div>
    <div class="name">
      <%= service.description %>
    </div>
    <div class="type">
      <%= service.type %>
    </div>
    <div class="price">
      <% service.filtered_prices.each do |price| %>
        <div>
          <%= format_price(price, service.filtered_prices) %>
        </div>
      <% end %>
    </div>
    <a href="#" class="show-details" data-action="click->details#toggle">
      Show Details
    </a>
  </div>

  <div class="details-area w-100 mt-3 educational-services" data-details-target="toggle">
    <div class="d-flex mt-4 mb-3">
      <div class="whats-included">
        <div class="bold detail-header">
          What's Included
        </div>
        <div class="pr-4">
          <%= service.contents %>
        </div>
      </div>

      <div class="other-details d-flex flex-wrap w-100">
        <div class="d-flex flex-column details-col-1">
          <div class="detail mb-4">
            <div class="pricing-condition bold detail-header">
              Course Level
            </div>
            <div>
              <%= service.level %>
            </div>
          </div>
          <div class="mb-4">
            <div class="pricing-condition bold detail-header">
              Course Location
            </div>
            <div>
              <%= service.location %>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column details-col-2">
          <div class="detail mb-4">
            <div class="product-manager bold detail-header">
              Duration
            </div>
            <div>
              <%= service.duration %>
            </div>
          </div>
          <div class="mb-4">
            <div class="product-manager bold detail-header">
              Division
            </div>
            <div>
              <%= service.division %>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column details-col-3">
          <div class="mb-4">
            <div class="product-manager bold detail-header">
              Quantity
            </div>
            <div>
              <%= service.quantity %>
            </div>
          </div>
          <div class="mb-4">
            <div class="product-manager bold detail-header">
              Platform
            </div>
            <div>
              <%= service.platform %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
