<h4 class="2"><%= locals[:name] %></h4>
<div class="d-flex flex-column resource services">
  <div class="service-hub-data-section">
    <%= render 'row_section_header' %>
    <% locals[:services].each do |service| %>
      <div class="row w-100 service-hub-row">
        <div class="d-flex flex-nowrap w-100 primary-info">
          <div class="sku"><%= service.sku %></div>
          <div class="name"><%= service.name %></div>
          <div class="type"><%= service.training_course_type %></div>
          <% if service.integration_string %>
            <div class="price">
              <%= service.price %>
              <div class=price-details><%= service.integration_string %></div>
            </div>
          <% else %>
            <div class="price"><%= service.price %></div>
          <% end %>
          <%= link_to "Show Details", '', class: 'show-details' %>
        </div>
        <div class="details-area w-100 mt-3 educational-services">
          <div class="d-flex mt-4 mb-3">
            <div class="whats-included">
              <div class="bold detail-header">What's Included</div>
              <div class="pr-4"><%= service.contents %></div>
            </div>
            <div class="other-details d-flex flex-wrap w-100">
              <div class="d-flex flex-column details-col-1">
                <div class="detail mb-4">
                  <div class="pricing-condition bold detail-header">Course Level</div>
                  <div><%= service.training_course_level%></div>
                </div>
                <div class="mb-4">
                  <div class="pricing-condition bold detail-header">Course Location</div>
                  <div><%= service.location%></div>
                </div>
              </div>
              <div class="d-flex flex-column details-col-2">
                <div class="detail mb-4">
                  <div class="product-manager bold detail-header">Duration</div>
                  <div><%= service.duration %></div>
                </div>
                <div class="mb-4">
                  <div class="product-manager bold detail-header">Division</div>
                  <div><%= service.division %></div>
                </div>
              </div>
              <div class="d-flex flex-column details-col-3">
                <div class="mb-4">
                  <div class="product-manager bold detail-header">Quantity</div>
                  <div><%= service.quantity%></div>
                </div>
                <div class="mb-4">
                  <div class="product-manager bold detail-header">Platform</div>
                  <div><%= service.platform%></div>
                </div>
              </div>
            </div>
            <!-- end other details -->
          </div>
        </div>
        <!-- end details-area -->
      </div>
    <% end %>
  </div>
</div>
