<h4 class="mt-2"><%= locals[:name] %></h4>
<div class="d-flex flex-column resource services">
  <div class="d-flex flex-column resource standalone-services-data">
    <div class="service-hub-data-section">
      <div class="row w-100 service-hub-row service-hub-header-row">
        <div class="sku">SKU</div>
        <div class="name">Description</div>
        <div class="price">Price</div>
        <div class="details">Details</div>
      </div>
      <% locals[:services].each do |service| %>
        <div class="row w-100 service-hub-row">
          <div class="d-flex flex-nowrap w-100 primary-info">
            <div class="sku"><%= service.sku %></div>
            <div class="name"><%= service.name %></div>
            <% if service.integration_string %>
              <div class="price">
                <%= service.price %>
                <div class=price-details><%= service.integration_string %></div>
              </div>
            <% else %>
              <div class="price"><%= service.price %></div>
            <% end %>
            <%= link_to "Show Details", '', class: 'show-details' %>
          </div>
          <div class="details-area w-100 mt-3">
            <div class="d-flex mt-4 mb-3">
              <div class="whats-included">
                <div class="bold detail-header">What's Included</div>
                <div class="pr-4">
                  <% if service.contents.is_a? Array %>
                    <ul class="service-contents-list">
                      <% service.contents.each do |content| %>
                        <li><%= content %></li>
                      <% end %>
                    </ul>
                  <% else %>
                    <%= service.contents %>
                  <% end %>
                </div>
              </div>
              <div class="other-details d-flex w-100">
                <div class="d-flex flex-column details-col">
                  <div class="mb-4 detail-1">
                    <div class="pricing-condition bold detail-header">Pricing Condition</div>
                    <div><%= service.pricing_condition %></div>
                  </div>
                  <div class="mb-4 mt-2">
                    <div class="pricing-condition bold detail-header">Pricing Description</div>
                    <div><%= service.pricing_description %></div>
                  </div>
                </div>
                <div class="d-flex flex-column details-col">
                  <div class="mb-4 detail-1">
                    <div class="product-manager bold detail-header">Product Manager</div>
                    <div><%= service.product_manager %></div>
                  </div>
                  <div class="mb-4 mt-2">
                    <div class="type bold detail-header">Type</div>
                    <div><%= service.contract_type%></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
